{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "forceAllTransforms": true,
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ]
}